{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% load static %}



{% block content %}
<div class='container'>
   <div class='row my-3'>
      <div class='col-sm-6 offset-sm-3'>
         <h1>Customer Registration</h1>
         <hr>

         <form action='' method='post' novalidate class='shadow p-5'>{% csrf_token %}
            {% for fm in form %}
               {{fm.label_tag}} {{fm}} <small class='text-danger'>{{fm.errors|striptags}}</small><br>
            {% endfor %}
            <input type="submit" class="'btn btn-primary" value="Submit"><br>
            <div class="text-center text-primary fw-bold">
               <small>Existing User ?</small><a href="{% url 'login' %}" class="text-danger">Login</a>
            </div>
            {% if form.non_feild_errors %}
              {% for error in form.non_feild_errors  %}
                <p class='alert alert-danger my-3'>{{error}}</p>
              {% endfor %}
            {% endif %}

            {% if messages %}
              {% for mess in messages %}
            <div class='alert alert-{{mess.tags}}'>{{mess}}</div>
            {% endfor %}
            {% endif %}


         </form>
      </div>
   </div>
</div>
{% endblock content %}
